/* Generic CSS */
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #f2f2f2;
}

.col {
  width: auto;
  flex: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #c2c2c2;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}
.row > .col:first-child {
  margin-left: 0;
}
.row > .col:last-child {
  margin-right: 0;
}

.col-first {
  width: 100%;
  flex-basis: 100%;
  background-color: red;
}

.col-full-width {
  width: 100%;
  flex-basis: 100%;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
p {
  margin: 0 !important;
  padding: 0 !important;
}

.bg-skyblue {
  background-color: skyblue;
}

.bg-yellow {
  background-color: yellow;
}

.bg-goldenrod {
  background-color: goldenrod;
}
